[manifest]
version = "1.0.0"
dump_lua = true
priority = 0


# Controller support for reserving
[[patches]]
[patches.pattern]
target = 'functions/UI_definitions.lua'
pattern = '''
base_attach.children.use = G.UIDEF.card_focus_button{
  card = card, parent = base_attach, type = 'use',
  func = 'can_use_consumeable', button = 'use_card', card_width = card_width
}
'''
position = "at"
payload = '''
local reserve_and_use = nil
if poke_can_save_consumable(card) then
  base_attach.children.reserve = G.UIDEF.card_focus_button{
    card = card, parent = base_attach, type = 'reserve',
    func = 'can_reserve_card', button = 'Can Reserve', card_width = card_width
  }
  reserve_and_use = true
end
base_attach.children.use = G.UIDEF.card_focus_button{
  card = card, parent = base_attach, type = 'use',
  func = 'can_use_consumeable', button = 'use_card', card_width = card_width, reserve_and_use = reserve_and_use
}
'''
match_indent = true

[[patches]]
[patches.pattern]
target = 'functions/UI_definitions.lua'
pattern = '''
  elseif args.type == 'buy_and_use' then
    button_contents = 
    {n=G.UIT.C, config={align = "cr"}, nodes={
      {n=G.UIT.R, config={align = "cr", maxw = 1}, nodes={
        {n=G.UIT.T, config={text = localize('b_buy'),colour = G.C.UI.TEXT_LIGHT, scale = 0.4, shadow = true}}
      }},
      {n=G.UIT.R, config={align = "cr", maxw = 1}, nodes={
        {n=G.UIT.T, config={text = localize('b_and_use'),colour = G.C.WHITE, scale = 0.3, shadow = true}},
      }}
    }}
  end
'''
position = "before"
payload = '''
  elseif args.type == 'reserve' then
    button_contents = 
    {n=G.UIT.C, config={align = "cr"}, nodes={
      {n=G.UIT.R, config={align = "cr", maxw = 1}, nodes={
        {n=G.UIT.T, config={text = localize('b_save'),colour = G.C.UI.TEXT_LIGHT, scale = 0.4, shadow = true}}
      }},
    }}
'''
match_indent = true

[[patches]]
[patches.pattern]
target = 'functions/UI_definitions.lua'
pattern = '''
focus_args = {button = args.type == 'sell' and 'leftshoulder' or args.type == 'buy_and_use' and 'leftshoulder' or 'rightshoulder', scale = 0.55, orientation = args.type == 'sell' and 'tli' or 'tri', offset = {x = args.type == 'sell' and 0.1 or -0.1, y = 0}, type = 'none'},
'''
position = "at"
payload = '''
focus_args = {button = args.type == 'sell' and 'leftshoulder' or args.type == 'buy_and_use' and 'leftshoulder' or args.type == 'reserve' and 'leftshoulder' or 'rightshoulder', scale = 0.55, orientation = args.type == 'sell' and 'tli' or 'tri', offset = {x = args.type == 'sell' and 0.1 or -0.1, y = 0}, type = 'none'},
'''
match_indent = true

[[patches]]
[patches.pattern]
target = 'functions/UI_definitions.lua'
pattern = '''
offset = {x=(args.type == 'sell' and -1 or 1)*((args.card_width or 0) - 0.17 - args.card.T.w/2),y=args.type == 'buy_and_use' and 0.6 or (args.buy_and_use) and -0.6 or 0}, 
'''
position = "at"
payload = '''
offset = {x=(args.type == 'sell' and -1 or 1)*((args.card_width or 0) - 0.17 - args.card.T.w/2),y=args.type == 'buy_and_use' and 0.6 or (args.buy_and_use) and -0.6 or args.type == 'reserve' and 0.6 or (args.reserve_and_use) and -0.6 or 0}, 
'''
match_indent = true